@import 'tailwindcss';

@theme {
	--color-orange: #ea580c;
	--color-yellow: #fddc3f;

	--color-gray-5: #f6f6f6;
	--color-gray-10: #e0e0e0;
	--color-gray-20: #c7c7c7;
	--color-gray-30: #aeaeae;
	--color-gray-40: #959595;
	--color-gray-50: #777677;
	--color-gray-60: #5a5a5a;
	--color-gray-70: #464646;
	--color-gray-80: #323232;
	--color-gray-90: #121212;
	--color-gray-100: #000000;

	/* H1 */
	--font-size-h1: 40px;
	--line-height-h1: 50px;
	--letter-spacing-h1: -0.04em;
	--font-weight-h1-bold: 700;

	/* H2 */
	--font-size-h2: 32px;
	--line-height-h2: 42px;
	--letter-spacing-h2: -0.04em;
	--font-weight-h2-bold: 700;
	--font-weight-h2-medium: 500;

	/* H3 */
	--font-size-h3: 24px;
	--line-height-h3: 35px;
	--letter-spacing-h3: -0.04em;
	--font-weight-h3-bold: 700;
	--font-weight-h3-medium: 500;

	/* Body 1 */
	--font-size-b1: 18px;
	--line-height-b1: 27px;
	--letter-spacing-b1: -0.02em;
	--font-weight-b1-bold: 700;
	--font-weight-b1-medium: 500;

	/* Body 2 */
	--font-size-b2: 16px;
	--line-height-b2: 24px;
	--letter-spacing-b2: -0.02em;
	--font-weight-b2-bold: 700;
	--font-weight-b2-medium: 500;

	/* Body 3 */
	--font-size-b3: 15px;
	--line-height-b3: 23px;
	--letter-spacing-b3: -0.02em;
	--font-weight-b3-bold: 700;
	--font-weight-b3-medium: 500;

	/* Caption */
	--font-size-caption: 14px;
	--line-height-caption: 21px;
	--letter-spacing-caption: -0.02em;
	--font-weight-caption-bold: 700;
	--font-weight-caption-medium: 500;
}

/* 유틸리티 클래스 정의 */
@utility text-h1-bold {
	font-size: theme(--font-size-h1);
	line-height: theme(--line-height-h1);
	letter-spacing: theme(--letter-spacing-h1);
	font-weight: theme(--font-weight-h1-bold);
}

@utility text-h2-bold {
	font-size: theme(--font-size-h2);
	line-height: theme(--line-height-h2);
	letter-spacing: theme(--letter-spacing-h2);
	font-weight: theme(--font-weight-h2-bold);
}

@utility text-h2-medium {
	font-size: theme(--font-size-h2);
	line-height: theme(--line-height-h2);
	letter-spacing: theme(--letter-spacing-h2);
	font-weight: theme(--font-weight-h2-medium);
}

@utility text-h3-bold {
	font-size: theme(--font-size-h3);
	line-height: theme(--line-height-h3);
	letter-spacing: theme(--letter-spacing-h3);
	font-weight: theme(--font-weight-h3-bold);
}

@utility text-h3-medium {
	font-size: theme(--font-size-h3);
	line-height: theme(--line-height-h3);
	letter-spacing: theme(--letter-spacing-h3);
	font-weight: theme(--font-weight-h3-medium);
}

@utility text-b1-bold {
	font-size: theme(--font-size-b1);
	line-height: theme(--line-height-b1);
	letter-spacing: theme(--letter-spacing-b1);
	font-weight: theme(--font-weight-b1-bold);
}

@utility text-b1-medium {
	font-size: theme(--font-size-b1);
	line-height: theme(--line-height-b1);
	letter-spacing: theme(--letter-spacing-b1);
	font-weight: theme(--font-weight-b1-medium);
}

@utility text-b2-bold {
	font-size: theme(--font-size-b2);
	line-height: theme(--line-height-b2);
	letter-spacing: theme(--letter-spacing-b2);
	font-weight: theme(--font-weight-b2-bold);
}

@utility text-b2-medium {
	font-size: theme(--font-size-b2);
	line-height: theme(--line-height-b2);
	letter-spacing: theme(--letter-spacing-b2);
	font-weight: theme(--font-weight-b2-medium);
}

@utility text-b3-bold {
	font-size: theme(--font-size-b3);
	line-height: theme(--line-height-b3);
	letter-spacing: theme(--letter-spacing-b3);
	font-weight: theme(--font-weight-b3-bold);
}

@utility text-b3-medium {
	font-size: theme(--font-size-b3);
	line-height: theme(--line-height-b3);
	letter-spacing: theme(--letter-spacing-b3);
	font-weight: theme(--font-weight-b3-medium);
}

@utility text-caption-bold {
	font-size: theme(--font-size-caption);
	line-height: theme(--line-height-caption);
	letter-spacing: theme(--letter-spacing-caption);
	font-weight: theme(--font-weight-caption-bold);
}

@utility text-caption-medium {
	font-size: theme(--font-size-caption);
	line-height: theme(--line-height-caption);
	letter-spacing: theme(--letter-spacing-caption);
	font-weight: theme(--font-weight-caption-medium);
}

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-pretendard);
}

button {
	cursor: pointer;
}
